*.yy.*
*.o
*~
.DS_Store
._*
Makefile.in
.deps
*.Po
*.o
*.dSYM
*.bak
bin
aclocal.m4
autom4te.cache
compile
config.*
configure
install-sh
missing
depcomp
stamp-h1
Makefile
aclocal.m4
ylwrap
lexer.c
lexer.h
parser.c
parser.h
